*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    background: transparent;
    font-family: 'Poppins', sans-serif;
}

body{
    background: rgb(36, 36, 36);
    color:white;
    overflow: hidden;
    overflow-y: scroll;
    /* background-image: linear-gradient(to right,rgb(0, 28, 48), rgb(23, 107, 135)); */
}
