#works{
    min-height: calc(100vh- 4rem);
    width: 100vw;
    max-width: 60rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 2rem auto;
    text-align: center;
    padding: 0 1rem;
}

.worksTitle{
    margin: 1rem 0;
    font-size: 3rem;

}

.worksDesc{
    font-weight: 300;
    font-size: 1rem;
    max-width: 45rem;

}

.worksImgs{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 2rem;
    width: 100vw;
    max-width: 65rem;
}

.worksDetails{
    height: 30rem;
    width: 16rem;
    margin: 2rem;
    position: relative;
    /* border: 2px solid white; */
    box-shadow: 0 0 10px 5px white;
    background-color: rgb(30,30,30);
}
.worksDetails>h3{
    font-weight: 200;
}

.hovermee{
    position: absolute;
    left: -1rem;
    top: 0rem;
    letter-spacing: 3px;
    z-index: 2;
    animation-name: hovermee;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    animation-duration: 1s;
}

.worksDetail{
    height: 100%;
    width: 80%;
    position: absolute;
    /* margin:1.5rem; */
    top: 5rem;
    left: 1.5rem;
    display: None;
}

.worksDetails:hover .hovermee{
    visibility: hidden;
}

.worksDetails:hover .worksDetail{
    display: block;
}

.worksDetails:hover .worksImg{
    transform: perspective(300px) rotateY(-180deg);
    opacity: 0.1;
}

.worksDetail>p{
    margin-top: 0rem;
    font-size: medium;
    font-weight: 300;
}

.worksDetail>div{
    position: absolute;
    bottom: 12rem;
}

.worksDetail>div>button{
   padding: 12px;
   margin-left: 1.5rem;
   justify-content: space-around;
   cursor: pointer;
}

.worksImg{
    object-fit: cover;
    height: 70%;
    width: 70%;
    border-radius: 1rem;
    opacity: 1;
    transform: perspective(300px) rotateY(0deg);
    transition: all 0.3s;
}

.worksBtn{
    margin: 3rem 0;
    padding: 0.5rem 2.5rem;
    background: white;
    border: None;
    border-radius: 2rem;
    font-size: 1rem;
}

@media screen and(max-width:585px) {
    .worksImg{
        height: 48vw;
    }
}

@keyframes hovermee {
    0%{
        transform: scale(1);
    }
    50%{
        transform: scale(1.25);
    }
    100%{
        transform: scale(1);
    }
}